body {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(112, 117, 122);
}

.weather-app {
  width: 650px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #adadad;
  border-radius: 20px;
}

h1 {
  display: block;
  font-size: 40px;
  line-height: 50px;
}

ul {
  list-style: none;
  display: block;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  display: block;
  font-size: 20px;
}
li:first-letter {
  text-transform: capitalize;
}

.clearfix-weather-temperature img {
  margin-right: 10px;
}

.clearfix-weather-temperature strong {
  color: rgb(32, 33, 36);
  display: inline;
  font-size: 48px;
  font-weight: 400;
  height: auto;
  line-height: 60px;
  width: auto;
}

.clearfix-weather-temperature .units {
  position: relative;
  top: -20px;
  font-size: 16px;
}
